* {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    font-family: "Ubuntu", serif;
}

body {
    background-image: url('/SPACE/img/fundo\ espaço.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Mantém a imagem fixa ao rolar (opcional) */
    color: white;
}

header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

button {
    cursor: pointer;
}

#instagramLink {
    position: fixed;
    color: #f7ac50;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}