/* Reset e Configurações Globais */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Ubuntu", serif;
}

/* ========================= PÁGINA INICIAL (HOME) ========================= */
.Home {
    background-image: url('/SPACE/img/fundo\ espaço.png');
    background-color: #f7ac50;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;

    header {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 20px;
    }

    .container {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        background-color: rgba(0, 0, 0, 0.419);
        border-radius: 25px;
        height: 550px;
        width: 450px;
        box-shadow: 0 0 5px #ffff, 0 0 5px #ffff, 0 0 30px #f7ac50;
        text-align: center;
        padding: 20px;

        .topContainer {
            width: 90%;
            margin: 0 auto;

            h2 {
                color: #f7ac50;
            }
        }

        .text {
            width: 300px;
            margin: 55px auto;
            font-size: large;
        }
    }

    #enterButton {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 100px;
        width: 150px;
        height: 45px;
        border-radius: 10px;
        background: linear-gradient(45deg, #f7ac50, #fff098, #f7ac50);
        box-shadow: 0 0 5px #ffff, 0 0 5px #ffff, 0 0 30px #f7ac50;
        border: none;
        cursor: pointer;
    }

    #enterButton:hover {
        background: linear-gradient(45deg, #fff098, #f7ac50, #fff098);
        box-shadow: 0 0 10px #ffff, 0 0 10px #f7ac50;
    }

    .information {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;

        #gitHubLink {
            cursor: pointer;
            color: #f7ac50;
        }

        #gitHubLink:hover {
            color: rgb(255, 145, 0);
        }
    }

    .mark {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 180px;
    }
}

/* ========================= PÁGINA PRINCIPAL (MAINPAGE) ========================= */
.mainPage {
    background-color: #0a0a0a;
    color: white;

    header {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 20px;
    }

    button {
        cursor: pointer;
    }

    #gitHubLink2 {
        position: absolute;
        cursor: pointer;
        color: #f7ac50;
        bottom: 5px;
        right: 15px;
    }

    #gitHubLink2:hover {
        color: rgb(255, 145, 0);
    }
}
